{% extends 'base.html' %}
{% load static %}


{% block page-header %}Store{% endblock %}
{% block page-header-1 %}Store{% endblock %}

{% block content %}
<h1>Store under construction</h1>
<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'dashboard/js/core/popper.min.js' %}"></script>
<script src="{% static 'dashboard/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'dashboard/js/plugins/smooth-scrollbar.min.js' %}"></script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'dashboard/js/material-dashboard.min.js?v=3.1.0' %}"></script>


{% endblock %}