{% extends 'base.html' %}
{% load static %}


{% block page-header %}Transactions{% endblock %}
{% block page-header-1 %}Transactions{% endblock %}

{% block content %}

{% if user.is_authenticated and user.is_staff %}
<div class="container-fluid py-4">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">person</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Today's Users</p>
              <h4 class="mb-0">2,300</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <!-- <div class="card-footer p-3">
            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than last month</p>
          </div> -->
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">weekend</i>
            </div>
            <div class="text-end pt-1">
              <!-- <p class="text-sm mb-0 text-capitalize">Today's Money</p> -->
              <p class="text-sm mb-0 text-capitalize">Total Income</p>
              <h4 class="mb-0">Ksh {{total_income|floatformat}}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <!-- <div class="card-footer p-3">
            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than last week</p>
          </div> -->
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">person</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Total Expenses</p>
              <h4 class="mb-0">Ksh {{total_expenses|floatformat}}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <!-- <div class="card-footer p-3">
            <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">-2%</span> than yesterday</p>
          </div> -->
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">weekend</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Net Income</p>
              <h4 class="mb-0">Ksh {{net_income|floatformat}}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <!-- <div class="card-footer p-3">
            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+5% </span>than yesterday</p>
          </div> -->
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2 ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0 ">Orders/Day</h6>
            <!-- <p class="text-sm ">Last Campaign Performance</p> -->
            <!-- <hr class="dark horizontal">
            <div class="d-flex ">
              <i class="material-icons text-sm my-auto me-1">schedule</i>
              <p class="mb-0 text-sm"> campaign sent 2 days ago </p>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2  ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0 "> profits/day </h6>
            <!-- <p class="text-sm "> (<span class="font-weight-bolder">+15%</span>) increase in today sales. </p> -->
            <!-- <hr class="dark horizontal">
            <div class="d-flex ">
              <i class="material-icons text-sm my-auto me-1">schedule</i>
              <p class="mb-0 text-sm"> updated 4 min ago </p>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mb-3">
        <div class="card z-index-2 ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-line-tasks" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0 ">Profits/month</h6>
            <!-- <p class="text-sm ">Last Campaign Performance</p> -->
            <!-- <hr class="dark horizontal">
            <div class="d-flex ">
              <i class="material-icons text-sm my-auto me-1">schedule</i>
              <p class="mb-0 text-sm">just updated</p>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Transactions table</h6>
              </div>
            </div>
            <br>
            <form method="get" action="">
              {{ form.time_range }}
              {{ form.custom_start_date }}
              {{ form.custom_end_date }}
              <input type="submit" value="Filter">
          </form>
          
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Type</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Transaction Date</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">amount</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                    {% for transaction in transactions %}
                        <tbody>
                            <tr>
                            <td>
                                <div class="d-flex px-2 py-1">
                                <!-- <div>
                                    <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                </div> -->
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">{{ transaction.type }}{{ transaction.content_object.id }}</h6>
                                    <!-- <p class="text-xs text-secondary mb-0">john@creative-tim.com</p> -->
                                </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-xs text-secondary mb-0">{{ transaction.type }}</p>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold">{{ transaction.transaction_date }}</span>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold">{{ transaction.amount }}</span>
                            </td>
                            <td class="align-middle">
                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                Edit
                                </a>
                            </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <footer class="footer py-4  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                made with <i class="fa fa-heart"></i> by
                <a href="https://www.linkedin.com/in/benard-siloma-9bb594231/" class="font-weight-bold" target="_blank">Benard Siloma</a>
                for a better web.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://ignit3graphics.com/" class="nav-link text-muted" target="_blank">Benard Siloma(Ignit3 Graphics)</a>
                </li>
                <li class="nav-item">
                  <a href="https://ignit3graphics.com/about-us" class="nav-link text-muted" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="https://ignit3graphics.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </main>
  <div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
      <i class="material-icons py-2">settings</i>
    </a>
    <div class="card shadow-lg">
      <div class="card-header pb-0 pt-3">
        <div class="float-start">
          <h5 class="mt-3 mb-0">Material UI Configurator</h5>
          <p>See our dashboard options.</p>
        </div>
        <div class="float-end mt-4">
          <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <!-- End Toggle Button -->
      </div>
      <hr class="horizontal dark my-1">
      <div class="card-body pt-sm-3 pt-0">
        <!-- Sidebar Backgrounds -->
        <div>
          <h6 class="mb-0">Sidebar Colors</h6>
        </div>
        <a href="javascript:void(0)" class="switch-trigger background-color">
          <div class="badge-colors my-2 text-start">
            <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
          </div>
        </a>
        <!-- Sidenav Type -->
        <div class="mt-3">
          <h6 class="mb-0">Sidenav Type</h6>
          <p class="text-sm">Choose between 2 different sidenav types.</p>
        </div>
        <div class="d-flex">
          <button class="btn bg-gradient-dark px-3 mb-2 active" data-class="bg-gradient-dark" onclick="sidebarType(this)">Dark</button>
          <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-transparent" onclick="sidebarType(this)">Transparent</button>
          <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
        </div>
        <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
        <!-- Navbar Fixed -->
        <div class="mt-3 d-flex">
          <h6 class="mb-0">Navbar Fixed</h6>
          <div class="form-check form-switch ps-0 ms-auto my-auto">
            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
          </div>
        </div>
        <hr class="horizontal dark my-3">
        <div class="mt-2 d-flex">
          <h6 class="mb-0">Light / Dark</h6>
          <div class="form-check form-switch ps-0 ms-auto my-auto">
            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
          </div>
        </div>
        <hr class="horizontal dark my-sm-4">
        <a class="btn bg-gradient-info w-100" href="https://www.creative-tim.com/product/material-dashboard-pro">Free Download</a>
        <a class="btn btn-outline-dark w-100" href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-dashboard">View documentation</a>
        <div class="w-100 text-center">
          <a class="github-button" href="https://github.com/creativetimofficial/material-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star creativetimofficial/material-dashboard on GitHub">Star</a>
          <h6 class="mt-3">Thank you for sharing!</h6>
          <a href="https://twitter.com/intent/tweet?text=Check%20Material%20UI%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&amp;url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fsoft-ui-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/material-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Share
          </a>
        </div>
      </div>
    </div>
  </div>
{% elif user.is_authenticated %}
<h1>you dont have required permission</h1>

{% else %}
<h1>login please</h1>
{% endif%}
  <!--   Core JS Files   -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="{% static 'dashboard/js/core/popper.min.js' %}"></script>
  <script src="{% static 'dashboard/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'dashboard/js/plugins/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'dashboard/js/plugins/smooth-scrollbar.min.js' %}"></script>
  <script src="{% static 'dashboard/js/plugins/chartjs.min.js/' %}"></script>
  

  <script>
    // Wait for the document to be ready before executing the script
    $(document).ready(function () {
        // Assume you have an HTML canvas element with id="chart" to display the chart
        var ctx = document.getElementById("chart-line-tasks").getContext("2d");


        // Fetch data from the Django view using AJAX
        $.ajax({
            url: '/ajax_yearly_profits/',  // URL to the Django view
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Data received successfully, now you can use it to create your chart
                console.log(data.months_list);
                console.log(data.profits_list);

                new Chart(ctx, {
                  type: "line",
                  data: {
                    labels:data.months_list,
                    datasets: [{
                      label: "Mobile apps",
                      tension: 0,
                      borderWidth: 0,
                      pointRadius: 5,
                      pointBackgroundColor: "rgba(255, 255, 255, .8)",
                      pointBorderColor: "transparent",
                      borderColor: "rgba(255, 255, 255, .8)",
                      borderWidth: 4,
                      backgroundColor: "transparent",
                      fill: true,
                      data: data.profits_list,
                      maxBarThickness: 6

                    }],
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {
                        display: false,
                      }
                    },
                    interaction: {
                      intersect: false,
                      mode: 'index',
                    },
                    scales: {
                      y: {
                        grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: false,
                          borderDash: [5, 5],
                          color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                          display: true,
                          padding: 10,
                          color: '#f8f9fa',
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                      x: {
                        grid: {
                          drawBorder: false,
                          display: false,
                          drawOnChartArea: false,
                          drawTicks: false,
                          borderDash: [5, 5]
                        },
                        ticks: {
                          display: true,
                          color: '#f8f9fa',
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                    },
                  },
                });
            },
            error: function (error) {
                console.log('Error fetching data:', error.message);
            }
        });
    });
</script>
<script>
 $(document).ready(function () {
        // Make an AJAX request to get daily profits data
        $.ajax({
            url: '/ajax_daily_profits/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Retrieve data from the AJAX response
                var daysList = data.days_list;
                var dailyProfitsList = data.daily_profits_list;

                // Your logic to handle the data
                // console.log(daysList);
                // console.log(dailyProfitsList);
                // data: dailyProfitsList,

                // labels: daysList,
              // Your chart creation logic here
              var ctx = document.getElementById("chart-line").getContext("2d");

              new Chart(ctx, {
      type: "line",
      data: {
        labels: daysList,
        datasets: [{
          label: "Mobile apps",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: dailyProfitsList,
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
          },
          error: function (error) {
              console.log('Error fetching data:', error);
          }
      });
  });
</script>
<script>
  $(document).ready(function () {
      // Make an AJAX request to get order data
      $.ajax({
          url: '/ajax_order_data/',
          type: 'GET',
          dataType: 'json',
          success: function (data) {
              // Retrieve data from the AJAX response
              var daysList = data.days_list;
              var totalOrdersList = data.total_orders_list;

              // console.log(daysList,totalOrdersList);

              // Your chart creation logic here
              var ctx = document.getElementById("chart-bars").getContext("2d");

              new Chart(ctx, {
        type: "bar",
        data: {
            labels: daysList,
            datasets: [{
                label: "Sales",
                tension: 0.4,
                borderWidth: 0,
                borderRadius: 4,
                borderSkipped: false,
                backgroundColor: "rgba(255, 255, 255, .8)",
                data: totalOrdersList,
                maxBarThickness: 6
            }],
        },
        options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
          },
          error: function (error) {
              console.log('Error fetching data:', error);
          }
      });
  });
</script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'dashboard/js/material-dashboard.min.js?v=3.1.0' %}"></script>

  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
    <script>
        const customerList = document.querySelector(".customerList");
        const phoneList = document.querySelector(".phoneList");
        const inputbox = document.getElementById("customerName");
        const phoneNumberInput = document.getElementById("phoneNo");

        phoneNumberInput.onkeyup = function(){
            let phoneResult = []
            let phoneInput = phoneNumberInput.value;

            if(phoneInput.length){
                $.ajax({
                    type: 'GET',
                    url: '/get_customer_list/',
                    data: {'customer_phoneNo': phoneNumberInput.value},
                    dataType: 'json',
                    success: function(data) {
                        let customers = data.customers;
                        phoneResult = customers;
                        console.log(data.customers);

                        // Call the display function inside the success callback
                        phoneDisplay(phoneResult);
                    }
                });
            }
            if(!phoneResult.length){
                customerList.innerHTML = '';
            }
        }

        inputbox.onkeyup = function(){
            let result = []
            let input = inputbox.value;

            if(input.length){

                $.ajax({
                    type: 'GET',
                    url: '/get_customer_list/',
                    data: {'customer_name': inputbox.value},
                    dataType: 'json',
                    success: function(data) {
                        let customers = data.customers;
                        result = customers;
                        console.log(result);

                        // Call the display function inside the success callback
                        nameDisplay(result);
                    }
                });
            }

            
            

            if(!result.length){
                customerList.innerHTML = '';
            }
        }

        

        function nameDisplay(result){
            const content = result.map((customer)=>{
                return `<li onclick="selectNameInput(this)" data-phone="${customer.phone}">${customer.first_name} ${customer.last_name}</li>`;
            })
            customerList.innerHTML="<ul>" + content.join('') + "</ul>";
        }

        function phoneDisplay(result){
            const content = result.map((customer)=>{
                return `<li onclick="selectNumberInput(this)" data-firstName="${customer.first_name}" data-lastName="${customer.last_name}">${customer.phone}</li>`;
            })
            phoneList.innerHTML="<ul>" + content.join('') + "</ul>";
        }

        function selectNameInput(list){
            inputbox.value = list.innerHTML;
            const phone = list.getAttribute('data-phone');
            phoneNumberInput.value = phone;
            customerList.innerHTML = '';
        }

        function selectNumberInput(list){
            phoneNumberInput.value = list.innerHTML;
            const firstName = list.getAttribute('data-firstName');
            const lastName = list.getAttribute('data-lastName');
            inputbox.value = firstName + ' ' + lastName;
            phoneList.innerHTML = '';
        }
    </script>
    <script>
       
        
        // function fillCustomerInfo(customerId) {
        //     // Make an AJAX request to fetch customer details by ID and fill the form fields
        //     $.ajax({
        //         type: 'GET',
        //         url: '/get_customer_info/',
        //         data: {'customer_id': customerId},
        //         dataType: 'json',
        //         success: function(data) {
        //             var customer = data.customer;
        //             document.getElementById('phoneNo').value = customer.phone;
        //         }
        //     });
        // }
        </script>
        <script>
          // Get references to the time range and custom date fields
          var timeRange = document.getElementById("id_time_range");
          var startDate = document.getElementById("id_custom_start_date");
          var endDate = document.getElementById("id_custom_end_date");
      
          // Initial setup
          updateCustomDateFields();
      
          // Add event listener to the time range dropdown
          timeRange.addEventListener("change", updateCustomDateFields);
      
          // Function to enable or disable custom date fields based on the selected option
          function updateCustomDateFields() {
              if (timeRange.value === "custom_range") {
                  startDate.disabled = false;
                  endDate.disabled = false;
              } else {
                  startDate.value = "";  // Reset start date
                  endDate.value = "";    // Reset end date
                  startDate.disabled = true;
                  endDate.disabled = true;
              }
          }
      </script>
</body>

</html>


{% endblock %}
