{% extends 'base.html' %}

 
{% block title %}Login{% endblock %}

{% block content %}


<div class="page-section">
    <div class="container">
        <div class="addpost">
            
                <div class="text-center wow fadeInUp">
                    <div class="subhead">Login</div>
                    <h2 class="title-section">login_</h2>
                    <div class="divider mx-auto"></div>
                </div>
                

                <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">post</button>
                </form>
                </div>

                <script>
                    var name = '{{ user.id }}';
                    document.getElementById("elder").value = name;
                </script>
                
                </div>
            </div>
                </div>
    </div>
        </div>
{% endblock %}